body{
  background-color: #F8EDE3;
  text-align: center;
  margin: 0;
}

h1{
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Source Serif Pro', serif;
  color: #7D6E83;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #7D6E83;
  font-weight: normal;
}

h3{
  color: #7D6E83;
}

a{
  color: #7D6E83;
}

p{
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

hr{
  border-style: dotted none none none;
  width: 5%;
  border-spacing: 10px;
  border-color: #7D6E83;
  border-width: 5px;
  margin: 100px auto;
}

a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container{
  padding-top: 100px;
  height: 750px;
  background-color: #D0B8A8;
}

.middle-container{
  margin: 100px auto;
}

.bottom-container{
  background-color: #D0B8A8;
  padding-bottom: 40px;
}

.intro{
  margin: 0 auto;
  position: relative;
  top: 200px;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.skill-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.top-vector{
  position: absolute;
  width: 350px;
  left: 550px;
}

.bottom-vector{
  position: absolute;
  left: 150px;
  width: 350px;
  top: 250px;
}

.icon{
  height: 40px;
  position: relative;
  top: 15px;
}

.my-image{
  height: 200px;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #7D6E83;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #553939;
  text-decoration: none;
}

.copyright{
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0;
}

#intro{
  width: 60%;
  margin: 0 auto;
}
